#4 Lists

##Exercise 4.1: Short questions

Write a function that prints the elements of a list

In [3]:
fruits = ["apple", "banana", "cherry"]

def print_list(mylist):
  for i in mylist:
    print(i, end=" ")

print_list(fruits)

apple banana cherry

Write a function that prints the elements of a list in reverse

In [8]:
fruits = ["apple", "banana", "cherry"]
fruits.reverse()

def reverse_list(mylist):
  for i in mylist:
    print(i)

print_list(fruits)

cherry banana apple

Write your own implementation of the len function that returns the number of elements in a list.

In [12]:
fruits = ["apple", "banana", "cherry"]

def len(mylist):
  i=0
  for x in mylist:
    i=i+1
  print(i)

len(fruits)

3

##Exercise 4.2 Copying lists

Create a list a with some entries

In [16]:
a = ["apple", "banana", "cherry"]
a

['apple', 'banana', 'cherry']

Now set b = a

In [17]:
b=a

 Change b[1]

In [18]:
b[1]="orange"

What happened to a?

In [19]:
a

['apple', 'orange', 'cherry']

Now set c = a[:]

In [20]:
c=a[:]

Change c[2]

In [21]:
c[2]="strawberry"

What happened to a?

In [22]:
a

['apple', 'orange', 'cherry']

Now create a function set_first_elem_to_zero(l) that takes a list, sets its first entry to zero, and returns the list.

In [25]:
L = ["apple", "banana", "cherry"]

def set_first_elem_to_zero(L):
  L[0]=0
  return L

What happens to the original list?

In [26]:
set_first_elem_to_zero(L)

[0, 'banana', 'cherry']

##Exercise 4.3: List of lists

What is the difference between a and b: 


```
a = [[]] * 3
b = [[] for _ in xrange(3)]
```

In [34]:
a = [[]] * 3
b = [[] for _ in range(3)]
print(a)
print(b)

[[], [], []]
[[], [], []]

##Exercise 4.4: Lists and functions

Write a function that takes a list and an index, and sets the value of the list at the given index to 0.

In [36]:
L = ["apple", "banana", "cherry"]

def set_index_to_zero(L,index):
  L[index]=0
  return L

set_index_to_zero(L,2)
L

['apple', 'banana', 0]

##Exercise 4.5: Primes

In Section 3 you wrote a function that prints all primes up to n, and a function that prints the first n primes. Update these functions such that they return lists instead.

In [42]:
allprimesupton=[]
firstnprimes=[]

def isPrime(n):
    if n <= 1 :
        return False

    for i in range(2, n):
        if n % i == 0:
            return False

    return True

def all_primes_up_to_n(n):
    for i in range(2, n + 1):
        if isPrime(i):
          allprimesupton.append(i)
    print(allprimesupton)

def first_n_primes(n,counter):
        if isPrime(n):
          firstnprimes.append(n)
          counter+=1
        return counter  

i=2;
n=29
counter=0
while True:
  counter=first_n_primes(i,counter)
  i+= 1
  if counter==n:
    break

print(firstnprimes)
print(all_primes_up_to_n(n))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109]
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
None

##Exercise 4.6: List comprehensions

Let i, j = 1, . . . , n Generate a list with elements [i,j].

In [45]:
L=[]
i=2
j=6

for x in range(i, j):
  L.append(x)
  
L

[]

Generate a list with elements [i,j] with i < j

In [50]:
L=[]
i=2
j=6

if i<j:
  for x in range(i, j):
    L.append(x)
    
L

[2, 3, 4, 5]

##Exercise 4.7: Filter

In lecture we have seen how to implement map using list comprehensions.Implement filter using list comprehensions. Name your functions myfilter so you can compare with Python’s standard filter.

##Exercise 4.8: Flatten a list of lists

Consider having a list with lists as elements, e.g. [[1,3], [3,6]].
Write a function that takes such a list, and returns a list with as elements the elements of the sublists, e.g. [1, 3, 3, 6].

In [53]:
def flatten(L):
    flat_list = []
    
    for element in L:
        if type(element) is list:
            for item in element:
                flat_list.append(item)
        else:
            flat_list.append(element)
    return flat_list

nested_list = [[1,3],[3,6]]
print('Original List', nested_list)
print('Flat List', flatten(nested_list))

Original List [[1, 3], [3, 6]]
Flat List [1, 3, 3, 6]

##Exercise 4.9: Finding the longest word

Write a function that returns the longest word in a variable text that contains a sentence. While text may contain punctuation, these should not be taken into account. What happens with ties?

As an example, consider: “Hello, how was the football match earlier today???”

In [ ]:
def longest(stringg):
  
  punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
  for x in stringg:
    if x in punc:
        stringg = stringg.replace(x, "")

  L=list(stringg.split())

  longest_word= max(L,key=len)
  print(longest_word)
        
text = "Hello, how was the football match earlier today???"
longest(text)

##Exercise 4.10: Collatz sequence, part 2

Recall the Collatz sequence problem from Section 1. Our goal is to find the number n < 1, 000, 000 that leads to the longest Collatz sequence.

Write a function that for any n, returns its Collatz sequence as a list

In [ ]:
def collatz_sequence(n):
  collatz=[]
  collatz.append(n)
  while(n!=1):
    if(n%2==0):
        n=n/2
        collatz.append(n)
    else:
        n=3*n+1
        collatz.append(n)
  return collatz

collatz_sequence(999999)

Write a function that finds the integer x that leads to the longest Collatz sequence with x < n.

In [122]:
def longest(collatz):
  longest_word= max(collatz)
  print(longest_word) 
longest(collatz_sequence(999999))

22781248.0

##Exercise 4.11: Pivots

Write a function that takes a value x and a list ys, and returns a list that contains the value x and all elements of ys such that all values y in ys that are smaller than x come first, then we element x and then the rest of the values in ys. 

For example, the output of f(3, [6, 4, 1, 7]) should be [1, 3, 6, 4, 7]

In [129]:
num=3
L=[6,4,1,7]

def f(x,y):
  z=[]
  z.append(x)
  for i in y:
    if x>i:
      z.insert(z.index(x),i)
    elif x<i:
      z.append(i)
  print(z)

f(num,L)

[1, 3, 6, 4, 7]

##Exercise 4.12: Prime challenge

Write the function primes(n) that return a list with all prime numbers up to n using three (or less) lines of code.

In [130]:
def primes(n):
  nums = [x for x in range(2, n) if all(x % y != 0 for y in range(2, x))]
  print(nums)

primes(29)

[2, 3, 5, 7, 11, 13, 17, 19, 23]

###5 Tuples

Suppose you have two variables: a and b. Now you want to set a equal to the value of b and at the same time set b equal to the value of a.

The following obviously does not work
a = b

b = a

so in some languages, you need to define a third variable like this

t = a

a = b

b = t

However, in Python you don’t need to do this. How can you swap a and b in one line?

In [131]:
a=5
b=8
a=b
a

8

##Exercise 5.2: Zip

Suppose we have two lists, x and y that give the x and y coordinates of a set of points. Create a list with the coordinates (x,y) as a tuple. Hint: Find out about the zip function.

You have decided that actually, you need the two seperate lists, but unfortunately, you have thrown them away. How can we use zip to unzip the list of tuples to get two lists again?

In [150]:
x=(6,10,2)
y=(8,3,7)
xy = zip(x,y)

x_y=list(zip(*xy))
print(str(x_y))

[(6, 10, 2), (8, 3, 7)]

### Exercise 5.3: Distances

Suppose we have two vectors, x and y, stored as tuples with n elements. Implement functions that compute the l1 and l2 distances between x and y. Note that n is not explicitly given.

###6 Dictionaries

##Exercise 6.1: Printing a dictionary

Write a function that prints key-value pairs of a dictionary.

In [3]:
def print_dict(dic):
  for x,y in dic.items():
    print(x,y)

dic = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print_dict(dic)

brand Ford
model Mustang
year 1964

##Exercise 6.2: Histogram

Write a function that takes a list, and returns a dictionary with keys the elements of the list and as value the number of occurances of that element in the list.

After you are done, look up ‘python collections counter’ in Google. Could you use a counter instead?

In [12]:
from collections import Counter
def histogram(L):
  dic={}
  for x in L:
    dic[x]=L.count(x)
  print_dict(dic)

def print_dict(dic):
  for x,y in dic.items():
    print(x,y)

L = [8, 6, 8, 10, 8, 20, 10, 8, 8]

Counter(L).items()

dict_items([(8, 5), (6, 1), (10, 2), (20, 1)])

##Exercise 6.3: Get method

Dictionaries have a get method, which takes a key and a default value. If the key is in the dictionary, it returns the value, otherwise, it returns the default value.

Rewrite your code from the previous problem to make use of this get method.

In [17]:
def histogram(L):
  dic={}
  for x in L:
    dic[x]=L.count(x)
  for x in range(0,11):
    y=dic.get(x,0)
    print(y,end=" ")

L = [8, 6, 8, 10, 8, 20, 10, 8, 8]

histogram(L)

0 0 0 0 0 0 1 0 5 0 2

##Exercise 6.5: Vector functions

Let’s implement some vector functions. There are two types of vectors, normal or dense vectors, which we can represent using lists. For sparse vectors, where many of the elements are zero, this is inefficient. Instead, we use a dictionary with keys the indices of non-zero values, and then the value corresponding to the key is the value of the vector at that index. Hence, the vector [1, 2, 4] can be stored as a list: [1,2, 4] or as a dictionary {0:1, 1: 2, 2: 4}.

Write a function that adds two (dense) vectors

In [1]:
def addTwoDense(L1,L2):
  result = [L1[i] + L2[i] for i in range(len(L1))]
  print(result)

list1 = [1, 3, 4, 6, 8]
list2 = [4, 5, 6, 2, 10]

addTwoDense(list1,list2)

[5, 8, 10, 8, 18]

Write a function that multiplies (i.e. inner product) two (dense) vectors

In [2]:
def DotProductTwoDense(L1,L2):
  result=sum([i*j for (i, j) in zip(L1, L2)])
  print(result)

list1 = [1, 3, 4, 6, 8]
list2 = [4, 5, 6, 2, 10]

DotProductTwoDense(list1,list2)

135

Write a function that adds two sparse vectors

##Exercise 6.6: Reverse look-up

Dictionaries are made to look up values by keys. Suppose however, we want to find the key that is associated with some value. Write a function that takes a dictionary and a value, and returns the key associated with this value.

What challenges do you face? How would you deal with those challenges?

In [7]:
def getKey(dic,val):
  for key, value in dic.items():
    if val == value:
      return key
  return "key does not exist"

my_dict ={"java":100, "python":112, "c":11}
 
print(getKey(my_dict,100))
print(getKey(my_dict,11))

java
c